<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Attribute Store</title>
</head>
<body>
    <h1>Attribute Store for your Soul</h1>
    <a href="/store/new"><button>Add an Attribute</button></a>
    <main>
        <% for (store of stores) { %>

            <article>
                <h2>Title <%= store.Title %>
                </h2>
                <a href="/store/<%= store._id %>"><img src="<%= store.img %>" /></a>
                <h2>$ = <%= store.price %></h2>
                <h2>stock <%= store.stock %></h2>
                <button>Buy</button>
            </article>

       <% } %>
    </main>
</body>
</html>