<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Attribute Store</title>
</head>

<body>
    <h1>Attribute Store for your Soul</h1>
    <a href="/store"><button>Back to Main Store Page</button></a>
    <main>
        

                <h2>Title <%= store.Title %>
                <img src=" <%=store.img %>" />
                <h2>$<%= store.price %></h2>
                <h2>stock <%= store.stock %></h2>
                <a href="/store/stocks/<%= store._id %>"><button>Buy</button></a>
                <a href="/store/<%= store._id %>/edit"<button>Edit Attribute</button></a>
                <form action="/store/<%= store._id %>? method=DELETE" method=post>
                <input type="submit" value="DELETE Attribute"/>
                </form>

           

            <%  %>
    </main>
</body>

</html>